services:
  frontend:
    container_name: frontend
    image: frontend:latest
    networks:
      - mern-net
    ports:
      - "8080:80"
    depends_on:
      backend:
        condition: service_healthy
  backend:
    image: backend:latest
    ports:
      - "3000:3000"
    container_name: backend
    networks:
      - mern-net
    volumes:
      - backend-data:/app/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s

networks:
  mern-net:

volumes:
  frontend-data:
  backend-data:

