version: "3.9"

services:
  backend:
    image: backend:latest
    container_name: backend
    networks:
      - mern-net
    restart: unless-stopped

  nginx:
    image: frontend
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
    networks:
      - mern-net
    restart: unless-stopped

networks:
  mern-net:
