name: Task1

on:
  push:
    branches:
      - main

jobs:

  build:

    runs-on: [ self-hosted, linux, x64 ]

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: build image
        run: |
          docker build -t task1:latest .
      
      - name: remove old container
        run: |
          docker rm -f task1 || true
      
      - name: run container
        run: |
          docker run -dp 3000:3000 \
          --restart unless-stopped \
          --name task1 \
          task1:latest