name: CICD

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write
  actions: write

jobs:
  build:
    runs-on: [ self-hosted, linux, x64 ]
    steps:

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          install: true

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          platforms: linux/amd64
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/frontend:${{ github.sha }}
            ${{ secrets.DOCKER_USERNAME }}/frontend:latest
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build backend image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          platforms: linux/amd64
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/backend:${{ github.sha }}
            ${{ secrets.DOCKER_USERNAME }}/backend:latest
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
    
  deploy:
    needs: build
    runs-on: [ self-hosted, linux, x64 ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Deploy with Docker Compose
        run: |
          cd ${GITHUB_WORKSPACE}
          docker-compose -f compose.yml pull
          docker-compose -f compose.yml up -d --remove-orphans