name: task2

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: [ self-hosted, linux, x64 ]
    steps:
      - uses: actions/checkout@v3

      - name: Build Docker images
        run: |
          docker build -t frontend:latest ./frontend
          docker build -t backend:latest ./backend
     
      - name: Remove existing containers
        run: |
          docker compose down
      
      - name: Run Docker Compose
        run: |
          docker-compose up -d