name: full-stack CI/CD

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: [ self-hosted, linux, x64 ]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Images
      run: |
        docker build -t backend:1.0.0 ./backend
        docker build -t frontend:1.0.0 ./frontend
    
    - name: Push Images
      run: |
        docker tag backend:1.0.0 ${{ secrets.DOCKER_USERNAME }}/backend:1.0.0
        docker tag frontend:1.0.0 ${{ secrets.DOCKER_USERNAME }}/frontend:1.0.0
        docker push ${{ secrets.DOCKER_USERNAME }}/backend:1.0.0
        docker push ${{ secrets.DOCKER_USERNAME }}/frontend:1.0.0

  deploy:
    runs-on: [ self-hosted, linux, x64 ]
    needs: build

    steps:
      - name: Pull latest images
        run: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/backend:1.0.0
          docker pull ${{ secrets.DOCKER_USERNAME }}/frontend:1.0.0 
      
      - name: Deploy with Docker Compose 
        run: |
          docker-compose down
          docker-compose up -d

      - name: Compose logs if deployment fails
        if: failure()
        run: docker-compose logs